
body{
   background-color: #1d2630;
   
}
 :root {
    --primary-color: white;
    --secondary-color: rgb(61, 68 , 73);
    --highlight-color: #3282b8;



    --dt-padding: 12px;
    --dt-padding-s:6px;
    --dt-padding-xs:2px;
    --dt-border-radius: 3px;
    
    --dt-background-color-container:rgb(8, 8, 8);
    --dt-border-color:var(--secondary-color);
    --dt-bg-color:var(--highlight-color);
    --dt-text-color:var(--primary-color);
    --dt-bg-active-color-button:var(--highlight-color);
    --dt-text-color-button:var(--primary-color);
    --dt-text-color-active-button:var(--primary-color);
    --dt-hover-cell-color:var(--highlight-color);
    --dt-even-row-color:var(--secondary-color);
    --dt-focus-color:var(--highlight-color);
    --de-input-background-color: var(--secondary-color);
    --dt-input-color:var(--primary-color);
 }

   .main{
      
      position: relative;
      left: 30%;
      font-size: 16px;
   }
 .enviar{
   position: relative;
   left: 26%;
   width: 200px;
 }

 .datatable-container{
    font-family: 'Noto Sans', sans-serif;
    background-color: var(--dt-background-color-container);
    border-radius: var(--dt-border-radius);
    color:var(--dt-text-color);
    width: 700px;
    margin: 0 auto;
    font-size: 14px;
    position: relative;
    left: 10%;
    
 }
 .form-control{
   border-radius: var(--dt-border-radius);
   color:var(--dt-text-color);
   width: 86%;    
   color: white;
}
.row .palabras {
   color: white;
}
.container h1{
   color: white;
   position: relative;
   left: 10%;
}


 .datatable-container .header-tools {
   border-bottom: solid 1px var(--dt-border-color);
   padding: var(--dt-padding);
   display: flex;
   align-items: baseline;
 }

 .datatable-container .header-tools .search{
   width: 30%;
 }

 .datatable-container .header-tools .search .search-input{
   
   width: 100%;
   background-color: var(--de-input-background-color);
   display: block;
   box-sizing: border-box;
   border-radius: var(--dt-border-radius);
   border: soli 1 px var(--dt-border-radius);
   color: var(--dt-input-color);
  
 }

 .datatable-container .header-tools .tools{
   width: 70%;
 }

.datatable-container .header-tools .tools ul {
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: start;
   align-items: baseline;
}
   
.datatable-container .header-tools .tools ul li {
   display: inline-block;
   margin: var(--dt-padding-xs) ;
   align-items:baseline ;
}

.datatable-container .footer-tools{
   padding: var(--dt-padding);
   display: flex;
   align-items: baseline;
}

.datatable-container .footer-tools .list-items{
   width: 50%;
}

.datatable-container .footer-tools .pages {
   margin-left: auto;
   margin-right: 0;
   width: 50%;

}

.datatable-container .footer-tools .pages ul {
   margin: 0;
   padding: 0;
   display: flex;
   align-items: baseline;
   justify-content: flex-end;
}

.datatable-container .footer-tools .pages ul li {
   display: inline-block;
   margin: 0 var(--dt-padding-xs);
}

.datatable-container .footer-tools .pages ul li button,
.datatable-container .header-tools .tools ul li button {
   color: var(--dt-text-color-button);
   width: 100%;
   box-sizing: border-box;
   border: 0;
   border-radius: var(--dt-border-radius);
   background: transparent;
   cursor: pointer;
}
.datatable-container .footer-tools .pages ul li button:hover,
.datatable-container .header-tools .tools ul li button:hover{
   background: var(--dt-bg-active-color-button);
   color: var(--dt-text-color-active-button);
}

.datatable-container .footer-tools .pages ul li span .active{
   background-color: var(--dt-bg-color);
   border-radius: var(--dt-border-color);
}

.datatable-container .footer-tools .pages ul li button,
.datatable-container .footer-tools .pages ul li span,
.datatable-container .header-tools .tools ul li button{
   padding: var(--dt-padding-s) var(--dt-padding);
}
.datatable-container .datatable{
   border-collapse: collapse;
   width: 100%;
}

.datatable-container .datatable,
.datatable-container .datatable th,
.datatable-container .datatable td {
    padding: var(--dt-padding) var(--dt-padding);
}
.datatable-container .datatable th {
   border-bottom: solid 1px var(--dt-border-color);
   text-align: left;
   font-weight: bolder;
}
.datatable-container .datatable td{
   border-bottom: solid 1px var(--dt-border-color);
}

 
.datatable-container .datatable tbody tr:nth-child(even){
   background-color: var(--dt-even-row-color);
}
.datatable-container .datatable tbody tr:hover{
   background-color: var(--dt-hover-cell-color);
}
.datatable-container .datatable tbody tr .available::after,
.datatable-container .datatable tbody tr .away::after,
.datatable-container .datatable tbody tr .offline::after{
   display: inline-block;
   vertical-align: middle;
}

 